
# Data
data/
*.parquet
*.csv
*.zip

# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Secrets
config/secrets.yaml
tools/d.py

# IDE
.vscode/
.idea/

# System
.DS_Store

# Logs & Models (Local)
logs/
models/
archive/
